USE [master]
GO
/****** Object:  Database [LinqCorpus]    Script Date: 8/23/2026 7:38:04 PM ******/
CREATE DATABASE [LinqCorpus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LinqCorpus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LinqCorpus.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LinqCorpus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LinqCorpus_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LinqCorpus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LinqCorpus]
GO
/****** Object:  Schema [Results]    Script Date: 8/23/2026 7:38:04 PM ******/
CREATE SCHEMA [Results]
GO
/****** Object:  Table [dbo].[CorpusMeasurement]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorpusMeasurement](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[AnalyzerSDK] [varchar](30) NOT NULL,
	[TotalFiles] [int] NOT NULL,
	[CsprojFiles] [int] NOT NULL,
	[CSharpFiles] [int] NOT NULL,
	[CSharpBytes] [bigint] NOT NULL,
	[CSharpMB] [decimal](12, 2) NOT NULL,
	[CSharpLines] [bigint] NOT NULL,
 CONSTRAINT [PK_CorpusMeasurement] PRIMARY KEY CLUSTERED 
(
	[Repository] ASC,
	[CommitHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CorpusMeasurement_Repository] UNIQUE NONCLUSTERED 
(
	[Repository] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectFiles]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectFiles](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[Project] [varchar](260) NOT NULL,
	[FilePath] [varchar](260) NOT NULL,
 CONSTRAINT [PK_ProjectFiles] PRIMARY KEY CLUSTERED 
(
	[Repository] ASC,
	[CommitHash] ASC,
	[Project] ASC,
	[FilePath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chains]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chains](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[ChainId] [varchar](300) NOT NULL,
	[Project] [varchar](100) NOT NULL,
	[LeftmostLine] [int] NOT NULL,
	[LeftmostColumn] [int] NOT NULL,
	[RightmostLine] [int] NOT NULL,
	[RightmostColumn] [int] NOT NULL,
	[ChainLength] [tinyint] NOT NULL,
 CONSTRAINT [PK_Chains] PRIMARY KEY CLUSTERED 
(
	[Repository] ASC,
	[CommitHash] ASC,
	[ChainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CorpusMeasurementSummary]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CorpusMeasurementSummary]
AS
SELECT
    cm.Repository,
    cm.CommitHash,
    cm.AnalyzerSDK,
    cm.TotalFiles,
    cm.CsprojFiles,
    cm.CSharpFiles,
    cm.CSharpBytes,
    cm.CSharpMB,
    cm.CSharpLines,
    ISNULL(sf.NumberOfSharedFiles, 0) AS NumberOfSharedFiles,
    ISNULL(ch.NumberOfChains, 0) AS NumberOfChains
FROM dbo.CorpusMeasurement AS cm
LEFT JOIN
(
    SELECT
        Repository,
        CommitHash,
        COUNT(*) AS NumberOfSharedFiles
    FROM
    (
        SELECT
            Repository,
            CommitHash,
            FilePath
        FROM dbo.ProjectFiles
        GROUP BY
            Repository,
            CommitHash,
            FilePath
        HAVING COUNT(*) > 1
    ) AS SharedFiles
    GROUP BY
        Repository,
        CommitHash
) AS sf
    ON sf.Repository = cm.Repository
   AND sf.CommitHash = cm.CommitHash
LEFT JOIN
(
    SELECT
        Repository,
        CommitHash,
        COUNT(*) AS NumberOfChains
    FROM dbo.Chains
    GROUP BY
        Repository,
        CommitHash
) AS ch
    ON ch.Repository = cm.Repository
   AND ch.CommitHash = cm.CommitHash;
GO
/****** Object:  Table [dbo].[Methods]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Methods](
	[Id] [int] NOT NULL,
	[Api] [varchar](20) NOT NULL,
	[Operator] [varchar](100) NOT NULL,
	[IntroducedVersion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Methods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Methods_Api_Operator] UNIQUE NONCLUSTERED 
(
	[Api] ASC,
	[Operator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChainMethods]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChainMethods](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[ChainId] [varchar](300) NOT NULL,
	[PositionInChain] [tinyint] NOT NULL,
	[MethodId] [int] NOT NULL,
 CONSTRAINT [PK_ChainMethods] PRIMARY KEY CLUSTERED 
(
	[Repository] ASC,
	[CommitHash] ASC,
	[ChainId] ASC,
	[PositionInChain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OperatorBigramContinuations]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_OperatorBigramContinuations]
AS
WITH ChainMethodsOrdered AS
(
    SELECT
        cm.Repository,
        cm.CommitHash,
        cm.ChainId,
        cm.PositionInChain,
        cm.MethodId,
        LEAD(cm.MethodId) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS NextMethodId
    FROM dbo.ChainMethods AS cm
),
AdjacentPairs AS
(
    SELECT
        Repository,
        CommitHash,
        ChainId,
        PositionInChain,
        MethodId AS FirstMethodId,
        NextMethodId AS SecondMethodId
    FROM ChainMethodsOrdered
    WHERE NextMethodId IS NOT NULL
),
BigramCounts AS
(
    SELECT
        ap.Repository,
        ap.CommitHash,
        ap.FirstMethodId,
        ap.SecondMethodId,
        COUNT_BIG(*) AS BigramCount
    FROM AdjacentPairs AS ap
    GROUP BY
        ap.Repository,
        ap.CommitHash,
        ap.FirstMethodId,
        ap.SecondMethodId
),
FirstMethodTotals AS
(
    SELECT
        ap.Repository,
        ap.CommitHash,
        ap.FirstMethodId,
        COUNT_BIG(*) AS TotalContinuationsOfFirstMethod
    FROM AdjacentPairs AS ap
    GROUP BY
        ap.Repository,
        ap.CommitHash,
        ap.FirstMethodId
),
RankedContinuations AS
(
    SELECT
        b.Repository,
        b.CommitHash,
        b.FirstMethodId,
        b.SecondMethodId,
        b.BigramCount,
        t.TotalContinuationsOfFirstMethod,
        ROW_NUMBER() OVER
        (
            PARTITION BY
                b.Repository,
                b.CommitHash,
                b.FirstMethodId
            ORDER BY
                b.BigramCount DESC,
                mf2.IntroducedVersion DESC,
                mf2.Id DESC
        ) AS RankOfThisContinuation
    FROM BigramCounts AS b
    INNER JOIN FirstMethodTotals AS t
        ON t.Repository = b.Repository
        AND t.CommitHash = b.CommitHash
        AND t.FirstMethodId = b.FirstMethodId
    INNER JOIN dbo.Methods AS mf2
        ON mf2.Id = b.SecondMethodId
)
SELECT
    r.Repository,
    r.CommitHash,
    r.RankOfThisContinuation,
    mf1.Api AS FirstApi,
    mf1.Operator AS FirstOperator,
    mf2.Api AS SecondApi,
    mf2.Operator AS SecondOperator,
    r.BigramCount,
    r.TotalContinuationsOfFirstMethod,
    CAST
    (
        100.0 * r.BigramCount
        / NULLIF(r.TotalContinuationsOfFirstMethod, 0)
        AS decimal(10,4)
    ) AS PercentageOfThisContinuationAmongAllContinuationsOfFirstMethod
FROM RankedContinuations AS r
INNER JOIN dbo.Methods AS mf1
    ON mf1.Id = r.FirstMethodId
INNER JOIN dbo.Methods AS mf2
    ON mf2.Id = r.SecondMethodId;
GO
/****** Object:  View [dbo].[vw_OperatorTrigramContinuations]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_OperatorTrigramContinuations]
AS
WITH ChainMethodsOrdered AS
(
    SELECT
        cm.Repository,
        cm.CommitHash,
        cm.ChainId,
        cm.PositionInChain,
        cm.MethodId,

        LEAD(cm.MethodId, 1) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS SecondMethodId,

        LEAD(cm.MethodId, 2) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS ThirdMethodId,

        LEAD(cm.MethodId, 3) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS FourthMethodId
    FROM dbo.ChainMethods AS cm
),
Continuations AS
(
    SELECT
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        FourthMethodId
    FROM
    (
        SELECT
            Repository,
            CommitHash,
            MethodId AS FirstMethodId,
            SecondMethodId,
            ThirdMethodId,
            FourthMethodId
        FROM ChainMethodsOrdered
    ) AS x
    WHERE
        SecondMethodId IS NOT NULL
        AND ThirdMethodId IS NOT NULL
        AND FourthMethodId IS NOT NULL
),
/*
    Repository-specific continuation counts.
*/
RepositoryContinuationCounts AS
(
    SELECT
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        FourthMethodId,
        COUNT_BIG(*) AS TrigramContinuationCount
    FROM Continuations
    GROUP BY
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        FourthMethodId
),
/*
    Total continuations for each trigram in each repository.
*/
RepositoryTrigramTotals AS
(
    SELECT
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        COUNT_BIG(*) AS TotalContinuationsFromThisTrigram
    FROM Continuations
    GROUP BY
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId
),
/*
    Rank repository-specific continuations.
*/
RepositoryRanked AS
(
    SELECT
        c.Repository,
        c.CommitHash,
        c.FirstMethodId,
        c.SecondMethodId,
        c.ThirdMethodId,
        c.FourthMethodId,
        c.TrigramContinuationCount,
        ROW_NUMBER() OVER
        (
            PARTITION BY
                c.Repository,
                c.CommitHash,
                c.FirstMethodId,
                c.SecondMethodId,
                c.ThirdMethodId
            ORDER BY
                c.TrigramContinuationCount DESC,
                mf4.IntroducedVersion DESC,
                mf4.Id DESC
        ) AS RankOfThisContinuation
    FROM RepositoryContinuationCounts AS c
    INNER JOIN dbo.Methods AS mf4
        ON mf4.Id = c.FourthMethodId
),
/*
    Pooled continuation counts across all repositories.
*/
AllRepositoryContinuationCounts AS
(
    SELECT
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        FourthMethodId,
        COUNT_BIG(*) AS TrigramContinuationCount
    FROM Continuations
    GROUP BY
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        FourthMethodId
),
/*
    Total pooled continuations for each trigram.
*/
AllRepositoryTrigramTotals AS
(
    SELECT
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        COUNT_BIG(*) AS TotalContinuationsFromThisTrigram
    FROM Continuations
    GROUP BY
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId
),
/*
    Rank pooled continuations.
*/
AllRepositoryRanked AS
(
    SELECT
        c.FirstMethodId,
        c.SecondMethodId,
        c.ThirdMethodId,
        c.FourthMethodId,
        c.TrigramContinuationCount,
        ROW_NUMBER() OVER
        (
            PARTITION BY
                c.FirstMethodId,
                c.SecondMethodId,
                c.ThirdMethodId
            ORDER BY
                c.TrigramContinuationCount DESC,
                mf4.IntroducedVersion DESC,
                mf4.Id DESC
        ) AS RankOfThisContinuation
    FROM AllRepositoryContinuationCounts AS c
    INNER JOIN dbo.Methods AS mf4
        ON mf4.Id = c.FourthMethodId
)

SELECT
    r.Repository,
    r.CommitHash,
    r.RankOfThisContinuation,

    mf1.Api AS FirstApi,
    mf1.Operator AS FirstOperator,

    mf2.Api AS SecondApi,
    mf2.Operator AS SecondOperator,

    mf3.Api AS ThirdApi,
    mf3.Operator AS ThirdOperator,

    mf4.Api AS FourthApi,
    mf4.Operator AS FourthOperator,

    r.TrigramContinuationCount,
    rt.TotalContinuationsFromThisTrigram,

    CAST
    (
        100.0 * r.TrigramContinuationCount
        / NULLIF(rt.TotalContinuationsFromThisTrigram, 0)
        AS decimal(10,4)
    ) AS PercentageOfThisContinuationAmongAllContinuationsOfThisTrigram
FROM RepositoryRanked AS r
INNER JOIN dbo.Methods AS mf1
    ON mf1.Id = r.FirstMethodId
INNER JOIN dbo.Methods AS mf2
    ON mf2.Id = r.SecondMethodId
INNER JOIN dbo.Methods AS mf3
    ON mf3.Id = r.ThirdMethodId
INNER JOIN dbo.Methods AS mf4
    ON mf4.Id = r.FourthMethodId
INNER JOIN RepositoryTrigramTotals AS rt
    ON rt.Repository = r.Repository
    AND rt.CommitHash = r.CommitHash
    AND rt.FirstMethodId = r.FirstMethodId
    AND rt.SecondMethodId = r.SecondMethodId
    AND rt.ThirdMethodId = r.ThirdMethodId

UNION ALL

SELECT
    'ALL_REPOSITORIES' AS Repository,
    'FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF' AS CommitHash,
    r.RankOfThisContinuation,

    mf1.Api AS FirstApi,
    mf1.Operator AS FirstOperator,

    mf2.Api AS SecondApi,
    mf2.Operator AS SecondOperator,

    mf3.Api AS ThirdApi,
    mf3.Operator AS ThirdOperator,

    mf4.Api AS FourthApi,
    mf4.Operator AS FourthOperator,

    r.TrigramContinuationCount,
    rt.TotalContinuationsFromThisTrigram,

    CAST
    (
        100.0 * r.TrigramContinuationCount
        / NULLIF(rt.TotalContinuationsFromThisTrigram, 0)
        AS decimal(10,4)
    ) AS PercentageOfThisContinuationAmongAllContinuationsOfThisTrigram
FROM AllRepositoryRanked AS r
INNER JOIN dbo.Methods AS mf1
    ON mf1.Id = r.FirstMethodId
INNER JOIN dbo.Methods AS mf2
    ON mf2.Id = r.SecondMethodId
INNER JOIN dbo.Methods AS mf3
    ON mf3.Id = r.ThirdMethodId
INNER JOIN dbo.Methods AS mf4
    ON mf4.Id = r.FourthMethodId
INNER JOIN AllRepositoryTrigramTotals AS rt
    ON rt.FirstMethodId = r.FirstMethodId
    AND rt.SecondMethodId = r.SecondMethodId
    AND rt.ThirdMethodId = r.ThirdMethodId;
GO
/****** Object:  View [dbo].[vw_OperatorTrigramFrequencies]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_OperatorTrigramFrequencies]
AS
WITH ChainMethodsOrdered AS
(
    SELECT
        cm.Repository,
        cm.CommitHash,
        cm.ChainId,
        cm.PositionInChain,
        cm.MethodId,
        LEAD(cm.MethodId, 1) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS SecondMethodId,
        LEAD(cm.MethodId, 2) OVER
        (
            PARTITION BY
                cm.Repository,
                cm.CommitHash,
                cm.ChainId
            ORDER BY
                cm.PositionInChain
        ) AS ThirdMethodId
    FROM dbo.ChainMethods AS cm
),
Trigrams AS
(
    SELECT
        Repository,
        CommitHash,
        ChainId,
        PositionInChain,
        MethodId AS FirstMethodId,
        SecondMethodId,
        ThirdMethodId
    FROM ChainMethodsOrdered
    WHERE
        SecondMethodId IS NOT NULL
        AND ThirdMethodId IS NOT NULL
),

/* ------------------------------------------------------------
   Repository-specific trigram counts
   ------------------------------------------------------------ */

RepositoryTrigramCounts AS
(
    SELECT
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        COUNT_BIG(*) AS TrigramCount
    FROM Trigrams
    GROUP BY
        Repository,
        CommitHash,
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId
),

RepositoryTotals AS
(
    SELECT
        Repository,
        CommitHash,
        COUNT_BIG(*) AS TotalTrigrams
    FROM Trigrams
    GROUP BY
        Repository,
        CommitHash
),

RankedRepositoryTrigrams AS
(
    SELECT
        t.Repository,
        t.CommitHash,
        t.FirstMethodId,
        t.SecondMethodId,
        t.ThirdMethodId,
        t.TrigramCount,
        ROW_NUMBER() OVER
        (
            PARTITION BY
                t.Repository,
                t.CommitHash
            ORDER BY
                t.TrigramCount DESC,
                mf1.IntroducedVersion DESC,
                mf1.Id DESC,
                mf2.IntroducedVersion DESC,
                mf2.Id DESC,
                mf3.IntroducedVersion DESC,
                mf3.Id DESC
        ) AS Rank
    FROM RepositoryTrigramCounts AS t
    INNER JOIN dbo.Methods AS mf1
        ON mf1.Id = t.FirstMethodId
    INNER JOIN dbo.Methods AS mf2
        ON mf2.Id = t.SecondMethodId
    INNER JOIN dbo.Methods AS mf3
        ON mf3.Id = t.ThirdMethodId
),

/* ------------------------------------------------------------
   Corpus-wide trigram counts
   ------------------------------------------------------------ */

AllRepositoryTrigramCounts AS
(
    SELECT
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId,
        SUM(TrigramCount) AS TrigramCount
    FROM RepositoryTrigramCounts
    GROUP BY
        FirstMethodId,
        SecondMethodId,
        ThirdMethodId
),

AllRepositoryTotal AS
(
    SELECT
        SUM(TotalTrigrams) AS TotalTrigrams
    FROM RepositoryTotals
),

RankedAllRepositoryTrigrams AS
(
    SELECT
        t.FirstMethodId,
        t.SecondMethodId,
        t.ThirdMethodId,
        t.TrigramCount,
        ROW_NUMBER() OVER
        (
            ORDER BY
                t.TrigramCount DESC,
                mf1.IntroducedVersion DESC,
                mf1.Id DESC,
                mf2.IntroducedVersion DESC,
                mf2.Id DESC,
                mf3.IntroducedVersion DESC,
                mf3.Id DESC
        ) AS Rank
    FROM AllRepositoryTrigramCounts AS t
    INNER JOIN dbo.Methods AS mf1
        ON mf1.Id = t.FirstMethodId
    INNER JOIN dbo.Methods AS mf2
        ON mf2.Id = t.SecondMethodId
    INNER JOIN dbo.Methods AS mf3
        ON mf3.Id = t.ThirdMethodId
)

/* ------------------------------------------------------------
   Repository-specific rows
   ------------------------------------------------------------ */

SELECT
    r.Repository,
    r.CommitHash,
    r.Rank,
    mf1.Api AS FirstApi,
    mf1.Operator AS FirstOperator,
    mf2.Api AS SecondApi,
    mf2.Operator AS SecondOperator,
    mf3.Api AS ThirdApi,
    mf3.Operator AS ThirdOperator,
    r.TrigramCount,
    CAST
    (
        100.0 * r.TrigramCount
        / NULLIF(rt.TotalTrigrams, 0)
        AS decimal(10,4)
    ) AS PercentageOfThisTrigramInAllTrigramsInTheCorpus
FROM RankedRepositoryTrigrams AS r
INNER JOIN dbo.Methods AS mf1
    ON mf1.Id = r.FirstMethodId
INNER JOIN dbo.Methods AS mf2
    ON mf2.Id = r.SecondMethodId
INNER JOIN dbo.Methods AS mf3
    ON mf3.Id = r.ThirdMethodId
INNER JOIN RepositoryTotals AS rt
    ON rt.Repository = r.Repository
    AND rt.CommitHash = r.CommitHash

UNION ALL

/* ------------------------------------------------------------
   ALL_REPOSITORIES rows
   ------------------------------------------------------------ */

SELECT
    'ALL_REPOSITORIES' AS Repository,
    CAST(NULL AS char(40)) AS CommitHash,
    r.Rank,
    mf1.Api AS FirstApi,
    mf1.Operator AS FirstOperator,
    mf2.Api AS SecondApi,
    mf2.Operator AS SecondOperator,
    mf3.Api AS ThirdApi,
    mf3.Operator AS ThirdOperator,
    r.TrigramCount,
    CAST
    (
        100.0 * r.TrigramCount
        / NULLIF(at.TotalTrigrams, 0)
        AS decimal(10,4)
    ) AS PercentageOfThisTrigramInAllTrigramsInTheCorpus
FROM RankedAllRepositoryTrigrams AS r
INNER JOIN dbo.Methods AS mf1
    ON mf1.Id = r.FirstMethodId
INNER JOIN dbo.Methods AS mf2
    ON mf2.Id = r.SecondMethodId
INNER JOIN dbo.Methods AS mf3
    ON mf3.Id = r.ThirdMethodId
CROSS JOIN AllRepositoryTotal AS at;
GO
/****** Object:  Table [dbo].[Occurrences]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occurrences](
	[OccurrenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[Project] [varchar](100) NOT NULL,
	[Operator] [varchar](100) NOT NULL,
	[Api] [varchar](20) NOT NULL,
	[Kind] [varchar](20) NOT NULL,
	[FilePath] [varchar](260) NOT NULL,
	[Line] [int] NOT NULL,
 CONSTRAINT [PK_Occurrences] PRIMARY KEY CLUSTERED 
(
	[OccurrenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepositoryAcquisitions]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepositoryAcquisitions](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[DateAcquired] [date] NOT NULL,
 CONSTRAINT [PK_RepositoryAcquisitions] PRIMARY KEY CLUSTERED 
(
	[Repository] ASC,
	[CommitHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RepositoryAcquisitions_Repository_DateAcquired] UNIQUE NONCLUSTERED 
(
	[Repository] ASC,
	[DateAcquired] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextOccurrences]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextOccurrences](
	[TextOccurrenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[FilePath] [varchar](260) NOT NULL,
	[Line] [int] NOT NULL,
	[Operator] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TextOccurrences] PRIMARY KEY CLUSTERED 
(
	[TextOccurrenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Results].[OperatorTrigramFrequencies]    Script Date: 8/23/2026 7:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Results].[OperatorTrigramFrequencies](
	[Repository] [varchar](100) NOT NULL,
	[CommitHash] [char](40) NOT NULL,
	[Rank] [bigint] NULL,
	[FirstApi] [varchar](20) NOT NULL,
	[FirstOperator] [varchar](100) NOT NULL,
	[SecondApi] [varchar](20) NOT NULL,
	[SecondOperator] [varchar](100) NOT NULL,
	[ThirdApi] [varchar](20) NOT NULL,
	[ThirdOperator] [varchar](100) NOT NULL,
	[TrigramCount] [bigint] NULL,
	[PercentageOfThisTrigramInAllTrigramsInTheCorpus] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChainMethods]  WITH CHECK ADD  CONSTRAINT [FK_ChainMethods_Chains] FOREIGN KEY([Repository], [CommitHash], [ChainId])
REFERENCES [dbo].[Chains] ([Repository], [CommitHash], [ChainId])
GO
ALTER TABLE [dbo].[ChainMethods] CHECK CONSTRAINT [FK_ChainMethods_Chains]
GO
ALTER TABLE [dbo].[ChainMethods]  WITH CHECK ADD  CONSTRAINT [FK_ChainMethods_Methods] FOREIGN KEY([MethodId])
REFERENCES [dbo].[Methods] ([Id])
GO
ALTER TABLE [dbo].[ChainMethods] CHECK CONSTRAINT [FK_ChainMethods_Methods]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [FK_Chains_CorpusMeasurement] FOREIGN KEY([Repository], [CommitHash])
REFERENCES [dbo].[CorpusMeasurement] ([Repository], [CommitHash])
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [FK_Chains_CorpusMeasurement]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_CorpusMeasurement_RepositoryAcquisition] FOREIGN KEY([Repository], [CommitHash])
REFERENCES [dbo].[RepositoryAcquisitions] ([Repository], [CommitHash])
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [FK_CorpusMeasurement_RepositoryAcquisition]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [FK_Occurrences_CorpusMeasurement] FOREIGN KEY([Repository], [CommitHash])
REFERENCES [dbo].[CorpusMeasurement] ([Repository], [CommitHash])
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [FK_Occurrences_CorpusMeasurement]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProjectFiles_CorpusMeasurement] FOREIGN KEY([Repository], [CommitHash])
REFERENCES [dbo].[CorpusMeasurement] ([Repository], [CommitHash])
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [FK_ProjectFiles_CorpusMeasurement]
GO
ALTER TABLE [dbo].[TextOccurrences]  WITH NOCHECK ADD  CONSTRAINT [FK_TextOccurrences_CorpusMeasurement] FOREIGN KEY([Repository], [CommitHash])
REFERENCES [dbo].[CorpusMeasurement] ([Repository], [CommitHash])
GO
ALTER TABLE [dbo].[TextOccurrences] CHECK CONSTRAINT [FK_TextOccurrences_CorpusMeasurement]
GO
ALTER TABLE [dbo].[ChainMethods]  WITH CHECK ADD  CONSTRAINT [CK_ChainMethods_PositionInChain] CHECK  (([PositionInChain]>=(1)))
GO
ALTER TABLE [dbo].[ChainMethods] CHECK CONSTRAINT [CK_ChainMethods_PositionInChain]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_ChainId_NotEmpty] CHECK  ((len([ChainId])>(0)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_ChainId_NotEmpty]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_ChainLength] CHECK  (([ChainLength]>=(2)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_ChainLength]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_LeftmostColumn] CHECK  (([LeftmostColumn]>=(1)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_LeftmostColumn]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_LeftmostLine] CHECK  (([LeftmostLine]>=(1)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_LeftmostLine]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_Project_NotEmpty] CHECK  ((len([Project])>(0)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_Project_NotEmpty]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_Repository_NotEmpty] CHECK  ((len([Repository])>(0)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_Repository_NotEmpty]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_RightmostColumn] CHECK  (([RightmostColumn]>=(1)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_RightmostColumn]
GO
ALTER TABLE [dbo].[Chains]  WITH CHECK ADD  CONSTRAINT [CK_Chains_RightmostLine] CHECK  (([RightmostLine]>=(1)))
GO
ALTER TABLE [dbo].[Chains] CHECK CONSTRAINT [CK_Chains_RightmostLine]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CSharpBytes] CHECK  (([CSharpBytes]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CSharpBytes]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CSharpFiles] CHECK  (([CSharpFiles]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CSharpFiles]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CSharpFiles_TotalFiles] CHECK  (([CSharpFiles]<=[TotalFiles]))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CSharpFiles_TotalFiles]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CSharpLines] CHECK  (([CSharpLines]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CSharpLines]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CSharpMB] CHECK  (([CSharpMB]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CSharpMB]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_CsprojFiles] CHECK  (([CsprojFiles]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_CsprojFiles]
GO
ALTER TABLE [dbo].[CorpusMeasurement]  WITH CHECK ADD  CONSTRAINT [CK_CorpusMeasurement_TotalFiles] CHECK  (([TotalFiles]>=(0)))
GO
ALTER TABLE [dbo].[CorpusMeasurement] CHECK CONSTRAINT [CK_CorpusMeasurement_TotalFiles]
GO
ALTER TABLE [dbo].[Methods]  WITH CHECK ADD  CONSTRAINT [CK_Methods_Api] CHECK  (([Api]='Queryable' OR [Api]='Enumerable'))
GO
ALTER TABLE [dbo].[Methods] CHECK CONSTRAINT [CK_Methods_Api]
GO
ALTER TABLE [dbo].[Methods]  WITH CHECK ADD  CONSTRAINT [CK_Methods_Id] CHECK  (([Id]>(0)))
GO
ALTER TABLE [dbo].[Methods] CHECK CONSTRAINT [CK_Methods_Id]
GO
ALTER TABLE [dbo].[Methods]  WITH CHECK ADD  CONSTRAINT [CK_Methods_IntroducedVersion_NotEmpty] CHECK  ((len([IntroducedVersion])>(0)))
GO
ALTER TABLE [dbo].[Methods] CHECK CONSTRAINT [CK_Methods_IntroducedVersion_NotEmpty]
GO
ALTER TABLE [dbo].[Methods]  WITH CHECK ADD  CONSTRAINT [CK_Methods_Operator_NotEmpty] CHECK  ((len([Operator])>(0)))
GO
ALTER TABLE [dbo].[Methods] CHECK CONSTRAINT [CK_Methods_Operator_NotEmpty]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Api] CHECK  (([Api]='Queryable' OR [Api]='Enumerable'))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Api]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_FilePath_NotEmpty] CHECK  ((len([FilePath])>(0)))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_FilePath_NotEmpty]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Kind] CHECK  (([Kind]='QuerySyntax' OR [Kind]='MethodCall'))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Kind]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Line] CHECK  (([Line]>=(1)))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Line]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Operator_NotEmpty] CHECK  ((len([Operator])>(0)))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Operator_NotEmpty]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Project_NotEmpty] CHECK  ((len([Project])>(0)))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Project_NotEmpty]
GO
ALTER TABLE [dbo].[Occurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_Occurrences_Repository_NotEmpty] CHECK  ((len([Repository])>(0)))
GO
ALTER TABLE [dbo].[Occurrences] CHECK CONSTRAINT [CK_Occurrences_Repository_NotEmpty]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_FilePath_NotEmpty] CHECK  ((len([FilePath])>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_FilePath_NotEmpty]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_Project_NotEmpty] CHECK  ((len([Project])>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_Project_NotEmpty]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_Repository_NotEmpty] CHECK  ((len([Repository])>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_Repository_NotEmpty]
GO
ALTER TABLE [dbo].[TextOccurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_TextOccurrences_FilePath_NotEmpty] CHECK  ((len([FilePath])>(0)))
GO
ALTER TABLE [dbo].[TextOccurrences] CHECK CONSTRAINT [CK_TextOccurrences_FilePath_NotEmpty]
GO
ALTER TABLE [dbo].[TextOccurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_TextOccurrences_Line] CHECK  (([Line]>=(1)))
GO
ALTER TABLE [dbo].[TextOccurrences] CHECK CONSTRAINT [CK_TextOccurrences_Line]
GO
ALTER TABLE [dbo].[TextOccurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_TextOccurrences_Operator_NotEmpty] CHECK  ((len([Operator])>(0)))
GO
ALTER TABLE [dbo].[TextOccurrences] CHECK CONSTRAINT [CK_TextOccurrences_Operator_NotEmpty]
GO
ALTER TABLE [dbo].[TextOccurrences]  WITH NOCHECK ADD  CONSTRAINT [CK_TextOccurrences_Repository_NotEmpty] CHECK  ((len([Repository])>(0)))
GO
ALTER TABLE [dbo].[TextOccurrences] CHECK CONSTRAINT [CK_TextOccurrences_Repository_NotEmpty]
GO
USE [master]
GO
